<h1>
  Edit user #<%= @user.id %>
</h1>

<hr>

<form action="/update_user/<%= @user.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @user.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update user
  </button>
</form>

<hr>

<a href="/users">
  Go back
</a>
