<h1>
  Edit user #<%= @user.id %>
</h1>

<hr>

<!-- Form user start -->
<form action="/update_user/<%= @user.id %>" method="post">
<!-- Form user end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @user.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Update user
  </button>
</form>

<hr>

<a href="/users">
  Go back
</a>
