<h1>
  Add a new improvement plan
</h1>


<hr>

<!-- Form improvement_plan start -->
<form action="/create_improvement_plan" method="post">
<!-- Form improvement_plan end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <input type="text" id="description" name="description" class="form-control">
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <!-- Label and input for status start -->
  <div class="form-group">
    <label for="status">
      Status
    </label>

    <!-- Input for status start -->
    <input type="text" id="status" name="status" class="form-control">
    <!-- Input for status end -->
  </div>
  <!-- Label and input for status end -->

  <button class="btn btn-block btn-outline-secondary">
    Create improvement plan
  </button>
</form>

<hr>

<a href="/improvement_plans">
  Go back
</a>
