<h1>
  Edit goal #<%= @goal.id %>
</h1>

<hr>

<form action="/update_goal/<%= @goal.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update goal
  </button>
</form>

<hr>

<a href="/goals">
  Go back
</a>
