<h1>
  Add a new goal
</h1>


<hr>

<!-- Form goal start -->
<form action="/create_goal" method="post">
<!-- Form goal end -->

  <button class="btn btn-block btn-outline-secondary">
    Create goal
  </button>
</form>

<hr>

<a href="/goals">
  Go back
</a>
